.main-wrapper{
  position: relative;
    width: 100%;
    height: 100vh; /* This will make the container's height equal to 80% of the viewport height */
    margin: auto;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://img.freepik.com/free-vector/gradient-connection-background_23-2150490691.jpg?w=996&t=st=1713626285~exp=1713626885~hmac=41127aeddb2ab144ec4c4b13c69ea1812597b3ac106010cbedbd11e4792a764c") no-repeat;
    background-size: cover;
    background-position: center;

    
}


.wrapper{
  
  width:420px;
  background: transparent;
  color: white;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(30px);
  box-shadow:0 0 10px rgba(0, 0, 0, .2);
  border-radius: 10px;
  padding:30px 40px ;
}


.wrapper h1 {
  font-size: 36px;
  text-align: center;
}


.wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  
  margin: 30px 0 ;

}



.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: whitesmoke;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
  color: aliceblue;
  

}

.input-box .icon{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;

}
.change{
  width: 100%;
  height: 45px;
  background: black;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  

}

.change:hover{
  
  background: white;
  color: black;
 

}

.sign{
  width: 100%;
  height: 45px;
  background: red;
  color: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  

}

.sign:hover{
  
  background: white;
  color: red;
 

}
.wrapper .register-link{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;

}

.register-link p a{
  font-weight: 600;
}

.register-link p a:hover{
  text-decoration: underline;
}

.register-link a{
  font-weight: 600;
}

.register-link a:hover{
  text-decoration: underline;
}